@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');


.about-section{
  height: 50vh;
}

.about-paragraph {
  display: flex;
  justify-content: center; 
  align-items: flex-start;
  flex-direction: column; 
  height: 100vh;
  color: #ffffff;
  padding-left: 180PX;
  padding-right: 130px;
  font-size: 24px;
  z-index: 20;
  gap: 20px;

}
.about-title {

  font-size: 32px;
  font-weight: bold;
  color: grey;
  padding-left: 180PX;
  padding-right: 130px;
}

.about-paragraph p {
  height:40%;
  margin-top: -100px;;
  margin-bottom: 40px; 
  line-height: 1.7; 
  z-index: 1;
}





  