.intro-section {
  display: flex;
  width: 100%;
  height: 75vh;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
  
}

.isec__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 1;
  
}

.isec__left .text-container {

  margin-left: 15%;
  
}

.isec__left .title {
  color:white;
  font-size: 56px;
  font-weight: bold;
  margin-bottom: 16px;
  
}

.isec__left .subtitle {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  color: white;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 16px;
}

.bullet-dot {
  margin: 0 8px;
  background-color: white;
  margin-top: 6px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
}

.isec__left .cta-button {
  border: 1px solid var(--mainWhite);
  outline: none;
  background: none;
  color: white;

  margin-top: 40px;
  padding: 12px 16px;
  font-size: 19.2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  text-decoration: none;
}


.isec__left .cta-icon {
  width: 20px;
  margin-top: 2px;
  margin-left: 9.6px;
  fill: var(--mainWhite);
  transition: transform 0.25s ease-in-out;
}

.intro-link {
  text-decoration: none;
  color: white;
  
}

@media screen and (max-width: 930px) {
  .intro-section {
      flex-direction: column;
  }

  .isec__left {
      align-items: center;
      justify-content: center;
      text-align: center;
  }

  .isec__left .text-container {
      display: flex;
      flex-direction: column;
      margin-left: 0;
      align-items: center;
      justify-content: center;
      margin: 0 24px;
  }

  .isec__left .subtitle {
      justify-content: center;
  }

  .isec__left .cta-button {
      margin-top: 24px;
  }

  .isec__left .cta-icon {
      width: 18px;
      margin-top: 0;
      margin-left: 8px;
      transform: rotate(90deg);
  }
}

@media screen and (max-width: 740px) {
  .isec__left .title {
      font-size: 48px;
      font-weight: bolder;
  }

  .bullet-dot {
      margin-top: 0;
      color:white;
  }

  .isec__left .subtitle {
      font-size: 20px;
  }

  .isec__left .cta-button {
      font-size: 17.6px;
      padding: 9.6px 12.8px;
  }

  .isec__left .cta-icon {
      width: 16px;
  }
}

@media screen and (max-width: 450px) {
  .isec__left .title {
      font-size: 40px;
  }

  .isec__left .subtitle {
      font-size: 16px;
  }

  .bullet-dot {
      margin: 0 4px;
      color:white;
  }

  .isec__left .cta-button {
      font-size: 16px;
      padding: 8px 11.2px;
  }

  .isec__left .cta-icon {
      width: 14px;
  }
}
.animated-underline {
  position: relative;
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding-bottom: 2px;
}

.animated-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease-in-out;
}

.animated-underline:hover::after {
  width: 100%; 
}

.cta-button.fill-transition-btn {
  position: relative;
  border: 2px solid white; 
  border-radius: 8px; 
  padding: 12px 24px;
  color: white;
  font-size: 19.2px;
  cursor: pointer;
  text-decoration: none;
  overflow: hidden;
  background-color: transparent;
  transition: color 0.3s ease-in-out;
  
}

.cta-button.fill-transition-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left; 
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

.cta-button.fill-transition-btn:hover::before {
  transform: scaleX(1); 
}

.cta-button.fill-transition-btn:hover {
  color: black;  
}

.cta-icon {
  margin-left: 8px;
  transition: transform 1s ease-in-out;
}

.cta-button.fill-transition-btn:hover .cta-icon {
  transform: rotate(90deg); 
}

