.container{
  display:flex;
  justify-content: center;
  align-items: center;
  height:fitcotent;
  margin:auto;
  padding-left: 180PX;
  padding-right: 130px;
  transform: translateY(-25px);
  z-index:-1;
 
}
.project-card {
  
  background-color: white;
  justify-content: flex;
  border: 10px solid rgba(0, 0, 0, 0.27);
  border-radius: 10px;
  overflow: hidden;
  width: 750px;
  height:590px;
  margin: 25px;

  box-shadow: 0 2px 4px rgb(26, 25, 25); /* shadow of box*/
  transition: transform 0.3s;
  padding:20px;
  flex-wrap:wrap;
  height: auto; 

}
.link-icon {
  width: 30px; 
  height: 30px; 
  margin-left:320px;
  margin-top:5px;
  margin-bottom:-20px;
  transition: transform 0.3s ease, opacity 0.3s ease; 

}
.link-icon:hover {
  transform: scale(1.1); 
  opacity: 10; 
}



.project-card:hover {
  transform: translateY(-10px);
}

.project-image {
  width: 100%;
  height: 20-px;
  object-fit: cover;
}

.project-content {
  text-align: center;
  padding: 15px;
}

.project-title {
  font-size: 30px;
  margin: 5px 0;
}

.project-description {
  font-size: 1em;
  color: #555;
}

.project-link {
  display: inline-block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}




.projects-container {
  max-height: 100vh; 
  margin-top:10px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;  
  gap:160px;

}
.projects-container h2{
   font-size: 32px;
  font-weight: bold;
  color: white;
  padding-left: 180PX;
  padding-right: 130px;
  margin-top:-50px;

 
}


