html, body, .wrap {
  height: 100%;
}

body {
  background: black;
  background-image: radial-gradient(circle at center, white 0%, #222 10%, black 60%);
  overflow: hidden;
}

.wrap {
  transform-style: preserve-3d;
  perspective: 800px;
  position: relative;
  overflow: visible;
  min-height: 800px;
}

.tri {
  height: 0;
  width: 0;
  position: absolute;
  border-top: 30px solid hsla(180, 100%, 50%, 1);
  border-right: 30px solid transparent;
  border-left: 30px solid transparent;
  filter: grayscale(1);
  opacity: 1;

 
  animation: animateTriangle 10s linear 1 forwards;
}

@keyframes animateTriangle {
  0% {
    opacity: 1;
    transform: rotate(200deg) translate3d(500px, 500px, 1000px) scale(1);
  }
  100% {
    opacity: 0;
    transform: rotate(400deg) translate3d(0, 0, -1500px) scale(0);
  }
}
.animated-text {
  color: rgb(255, 251, 251); /* Ensuring it's visible against the dark background */
  font-size: 2rem;
  text-align: center;
  margin-bottom: 50px;
  z-index: 100; /* Bring text above other elements, if needed */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height to center vertically */
  width: 100%;
  text-align: center; /* Center text alignment */
  position: absolute; 
  top: 0; 
  left: 0;
}


